body{
    font-family: Arial, sans-serif;
    margin:0;
}

form{
    width: 300px;
    margin: 0 auto;
    background-color:#8ca7b9;  
    text-align:center;
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="text"], 
input[type="tel"], 
input[type="email"], 
input[type="date"], 
textarea {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="submit"] {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

select {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
